<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/main.css">
<title>Lego League Camp</title>
        <link rel="shortcut icon" href="http://i144.photobucket.com/albums/r183/schultzlaura/favicon-2_zps6cee1eb4.png">
        <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>