 <script>
            $(document).ready(function() {
                $(".toggle").click(function() {
                    $("#options").slideToggle(600);
                });
            });
</script>
        <div id="topbar"> <a href="/"><h1>&nbsp;&nbsp;Lego Camp</a>

        </div>
        <div id="words">building engineering and teamwork skills through lego robotics</div>
        <div id="sidebar">
            <div id="topborder"></div>
            <div id="linkcont">
                <a href="/">
                    <div id="links">
                        <span class="alignleft">home</span>
                        <span class="alignright">
                            <div class="arrow">→</div>
                        </span>
                    </div>
                </a>
            </div>

            <div id="linkcont">
                <a href="/about">
                    <div id="links">
                        <span class="alignleft">about</span>
                        <span class="alignright">
                            <div class="arrow">→</div>
                        </span>
                    </div>
                </a>
            </div>

 

        </div>
        <!-- SIDEBAR -->
        