 <script>
            $(document).ready(function() {
                $(".toggle").click(function() {
                    $("#options").slideToggle(500);
                });
            });
</script>
        <div id="topbar"> <a href="/"><h1>&nbsp;&nbsp;Lego League Camp</a>

        </div>
        <div id="words">building engineering and teamwork skills through lego robotics</div>
        <div id="sidebar">
            <div id="topborder"></div>
            <div id="linkcont">
                <a href="/">
                    <div id="links">
                        <span class="alignleft">home</span>
                            <div class="arrow">→</div>
                    </div>
                </a>
            </div>

            <div id="linkcont">
                <a href="/">
                    <div id="links">
                        <span class="alignleft">home</span>
                            <div class="arrow">→</div>
                    </div>
                </a>
            </div>

 

                <div id="sidetitle">
                    <center>
                        <h1>connect with us</h1>
                    </center>
                </div>
            
        </div>
        <!-- SIDEBAR -->
        